/*TABLE*/

.container__table{
    border-radius: 10px;
    width: fit-content;
    /* margin: auto; */
    overflow: hidden;
}

/*FIELDS*/

.container__fields{
    display: grid;
    grid-template-columns: 215px repeat(4, 200px) repeat(2, 63px);
    grid-template-rows: 30px;
}

.container__fields div{
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*USER ITEM*/

.container__user{
    display: grid;
    grid-template-columns: 215px repeat(4, 200px) repeat(2, 55.5px);
}

.container__user div{
    background-color: #fff;
    border-bottom: 1px solid #D1D1D1;
    text-align: center;
    padding: 8px;
}

/*ADD BUTTON*/

.container__button{
    display: flex;
    margin-bottom: 10px;
}

#addButton{
    background-color: #E1E1E1;
    width: 110px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: all .3s;
}

#addButton:hover{
    background-color: #1EDF55;
}

/*DELETE BUTTON*/

#deleteButton{
    background: url('./assets/TrashSVG/Trash.svg');
    background-size: cover;
    width: 24px; height: 28px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
}

#deleteButton:hover{
    background: url('./assets/TrashSVG/TrashHover.svg');
    background-size: cover;
    width: 24px; height: 28px;
}

/*UPDATE BUTTON*/

#updateButton{
    background: url('./assets/UpdateSVG/Update.svg');
    background-size: cover;
    width: 27px; height: 28px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
}

#updateButton:hover{
    background: url('./assets/UpdateSVG/UpdateHover.svg');
    background-size: cover;
    width: 27px; height: 28px;
}

/*CENTER DATA*/
.center{
    background-color: #D1D1D1;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center__data{
    background-color: #D1D1D1;
    height: 250px;
    overflow-y: scroll;
}

